.ConjBlock {
    flex: 1 1 auto;
    margin: 0 10px 10px 0;
    min-width: 385px;
}

.ConjBlock:last-child {
    margin-bottom: 0;
}

.ConjBlock h3 {
    border-bottom: 1px solid #eee;
}

@media (max-width: 450px) {
    .ConjBlock {
        min-width: 100%;
        margin: 0 0 10px 0;
    }
}
